<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sy.huangniao.mapper.NotifyMapper">
  <resultMap id="BaseResultMap" type="com.sy.huangniao.pojo.Notify">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="from_no" jdbcType="VARCHAR" property="fromNo" />
    <result column="to_no" jdbcType="VARCHAR" property="toNo" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="msg_type" jdbcType="VARCHAR" property="msgType" />
    <result column="notify_status" jdbcType="VARCHAR" property="notifyStatus" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="notify_date" jdbcType="TIMESTAMP" property="notifyDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.sy.huangniao.pojo.Notify">
    <result column="context" jdbcType="LONGVARCHAR" property="context" />
  </resultMap>
  <sql id="Base_Column_List">
    id, from_no, to_no, title, msg_type, notify_status, create_date, notify_date, modify_date
  </sql>
  <sql id="Blob_Column_List">
    context
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from notify
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from notify
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.sy.huangniao.pojo.Notify" useGeneratedKeys="true">
    insert into notify (from_no, to_no, title, 
      msg_type, notify_status, create_date, 
      notify_date, modify_date, context
      )
    values (#{fromNo,jdbcType=VARCHAR}, #{toNo,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{msgType,jdbcType=VARCHAR}, #{notifyStatus,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{notifyDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP}, #{context,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.sy.huangniao.pojo.Notify" useGeneratedKeys="true">
    insert into notify
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fromNo != null">
        from_no,
      </if>
      <if test="toNo != null">
        to_no,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="msgType != null">
        msg_type,
      </if>
      <if test="notifyStatus != null">
        notify_status,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="notifyDate != null">
        notify_date,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="context != null">
        context,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fromNo != null">
        #{fromNo,jdbcType=VARCHAR},
      </if>
      <if test="toNo != null">
        #{toNo,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="msgType != null">
        #{msgType,jdbcType=VARCHAR},
      </if>
      <if test="notifyStatus != null">
        #{notifyStatus,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="notifyDate != null">
        #{notifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="context != null">
        #{context,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sy.huangniao.pojo.Notify">
    update notify
    <set>
      <if test="fromNo != null">
        from_no = #{fromNo,jdbcType=VARCHAR},
      </if>
      <if test="toNo != null">
        to_no = #{toNo,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="msgType != null">
        msg_type = #{msgType,jdbcType=VARCHAR},
      </if>
      <if test="notifyStatus != null">
        notify_status = #{notifyStatus,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="notifyDate != null">
        notify_date = #{notifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="context != null">
        context = #{context,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.sy.huangniao.pojo.Notify">
    update notify
    set from_no = #{fromNo,jdbcType=VARCHAR},
      to_no = #{toNo,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      msg_type = #{msgType,jdbcType=VARCHAR},
      notify_status = #{notifyStatus,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      notify_date = #{notifyDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      context = #{context,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sy.huangniao.pojo.Notify">
    update notify
    set from_no = #{fromNo,jdbcType=VARCHAR},
      to_no = #{toNo,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      msg_type = #{msgType,jdbcType=VARCHAR},
      notify_status = #{notifyStatus,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      notify_date = #{notifyDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <cache />
</mapper>