<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sy.huangniao.mapper.RobOrderAuditMapper">
  <resultMap id="BaseResultMap" type="com.sy.huangniao.pojo.RobOrderAudit">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="rob_order_id" jdbcType="INTEGER" property="robOrderId" />
    <result column="audit_status" jdbcType="VARCHAR" property="auditStatus" />
    <result column="audit_user_id" jdbcType="INTEGER" property="auditUserId" />
    <result column="audit_name" jdbcType="VARCHAR" property="auditName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, rob_order_id, audit_status, audit_user_id, audit_name, create_date, 
    modify_date, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rob_order_audit
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rob_order_audit
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.sy.huangniao.pojo.RobOrderAudit" useGeneratedKeys="true">
    insert into rob_order_audit (user_id, rob_order_id, audit_status, 
      audit_user_id, audit_name, create_date, 
      modify_date, remark)
    values (#{userId,jdbcType=INTEGER}, #{robOrderId,jdbcType=INTEGER}, #{auditStatus,jdbcType=VARCHAR}, 
      #{auditUserId,jdbcType=INTEGER}, #{auditName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{modifyDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.sy.huangniao.pojo.RobOrderAudit" useGeneratedKeys="true">
    insert into rob_order_audit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="robOrderId != null">
        rob_order_id,
      </if>
      <if test="auditStatus != null">
        audit_status,
      </if>
      <if test="auditUserId != null">
        audit_user_id,
      </if>
      <if test="auditName != null">
        audit_name,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="robOrderId != null">
        #{robOrderId,jdbcType=INTEGER},
      </if>
      <if test="auditStatus != null">
        #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="auditUserId != null">
        #{auditUserId,jdbcType=INTEGER},
      </if>
      <if test="auditName != null">
        #{auditName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sy.huangniao.pojo.RobOrderAudit">
    update rob_order_audit
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="robOrderId != null">
        rob_order_id = #{robOrderId,jdbcType=INTEGER},
      </if>
      <if test="auditStatus != null">
        audit_status = #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="auditUserId != null">
        audit_user_id = #{auditUserId,jdbcType=INTEGER},
      </if>
      <if test="auditName != null">
        audit_name = #{auditName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sy.huangniao.pojo.RobOrderAudit">
    update rob_order_audit
    set user_id = #{userId,jdbcType=INTEGER},
      rob_order_id = #{robOrderId,jdbcType=INTEGER},
      audit_status = #{auditStatus,jdbcType=VARCHAR},
      audit_user_id = #{auditUserId,jdbcType=INTEGER},
      audit_name = #{auditName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <cache />
</mapper>