<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sy.huangniao.mapper.RobOrderMapper">
  <resultMap id="BaseResultMap" type="com.sy.huangniao.pojo.RobOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="rob_status" jdbcType="VARCHAR" property="robStatus" />
    <result column="proof_image" jdbcType="VARCHAR" property="proofImage" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="app_code" jdbcType="VARCHAR" property="appCode" />
    <result column="rob_scbs" jdbcType="INTEGER" property="robScbs" />
    <result column="rob_amount" jdbcType="DOUBLE" property="robAmount" />
    <result column="rob_context" jdbcType="VARCHAR" property="robContext" />
  </resultMap>

  <resultMap id="BaseResultMapList" type="com.sy.huangniao.pojo.RobOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="rob_status" jdbcType="VARCHAR" property="robStatus" />
    <result column="proof_image" jdbcType="VARCHAR" property="proofImage" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="app_code" jdbcType="VARCHAR" property="appCode" />
    <result column="rob_scbs" jdbcType="INTEGER" property="robScbs" />
    <result column="rob_amount" jdbcType="DOUBLE" property="robAmount" />
    <result column="rob_context" jdbcType="VARCHAR" property="robContext" />
    <collection property="ticketOrder" ofType="com.sy.huangniao.pojo.TicketOrder" column="order_id" select="com.sy.huangniao.mapper.TicketOrderapper.selectListByOrderNo">
    </collection>
  </resultMap>

  <sql id="Base_Column_List">
    id, user_id, order_id, rob_status, proof_image, create_date, modify_date, remark, 
    app_code, rob_scbs, rob_amount, rob_context
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rob_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rob_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.sy.huangniao.pojo.RobOrder" useGeneratedKeys="true">
    insert into rob_order (user_id, order_id, rob_status, 
      proof_image, create_date, modify_date, 
      remark, app_code, rob_scbs, 
      rob_amount, rob_context)
    values (#{userId,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, #{robStatus,jdbcType=VARCHAR}, 
      #{proofImage,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR}, #{appCode,jdbcType=VARCHAR}, #{robScbs,jdbcType=INTEGER}, 
      #{robAmount,jdbcType=DOUBLE}, #{robContext,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.sy.huangniao.pojo.RobOrder" useGeneratedKeys="true">
    insert into rob_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="robStatus != null">
        rob_status,
      </if>
      <if test="proofImage != null">
        proof_image,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="appCode != null">
        app_code,
      </if>
      <if test="robScbs != null">
        rob_scbs,
      </if>
      <if test="robAmount != null">
        rob_amount,
      </if>
      <if test="robContext != null">
        rob_context,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="robStatus != null">
        #{robStatus,jdbcType=VARCHAR},
      </if>
      <if test="proofImage != null">
        #{proofImage,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="appCode != null">
        #{appCode,jdbcType=VARCHAR},
      </if>
      <if test="robScbs != null">
        #{robScbs,jdbcType=INTEGER},
      </if>
      <if test="robAmount != null">
        #{robAmount,jdbcType=DOUBLE},
      </if>
      <if test="robContext != null">
        #{robContext,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sy.huangniao.pojo.RobOrder">
    update rob_order
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="robStatus != null">
        rob_status = #{robStatus,jdbcType=VARCHAR},
      </if>
      <if test="proofImage != null">
        proof_image = #{proofImage,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="appCode != null">
        app_code = #{appCode,jdbcType=VARCHAR},
      </if>
      <if test="robScbs != null">
        rob_scbs = #{robScbs,jdbcType=INTEGER},
      </if>
      <if test="robAmount != null">
        rob_amount = #{robAmount,jdbcType=DOUBLE},
      </if>
      <if test="robContext != null">
        rob_context = #{robContext,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sy.huangniao.pojo.RobOrder">
    update rob_order
    set user_id = #{userId,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=VARCHAR},
      rob_status = #{robStatus,jdbcType=VARCHAR},
      proof_image = #{proofImage,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      app_code = #{appCode,jdbcType=VARCHAR},
      rob_scbs = #{robScbs,jdbcType=INTEGER},
      rob_amount = #{robAmount,jdbcType=DOUBLE},
      rob_context = #{robContext,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectList" parameterType="com.sy.huangniao.pojo.RobOrder" resultMap="BaseResultMapList">
    select  <include refid="Base_Column_List" />
    from rob_order
    where 1=1
    <if test="userId != null">
      and user_id = #{userId,jdbcType=INTEGER},
    </if>
    <if test="orderId != null">
      and order_id = #{orderId,jdbcType=INTEGER},
    </if>
    <if test="robStatus != null">
      and  rob_status = #{robStatus,jdbcType=VARCHAR},
    </if>
    <if test="proofImage != null">
      and  proof_image = #{proofImage,jdbcType=VARCHAR},
    </if>
    <if test="createDate != null">
      and  create_date = #{createDate,jdbcType=TIMESTAMP},
    </if>
    <if test="modifyDate != null">
      and  modify_date = #{modifyDate,jdbcType=TIMESTAMP},
    </if>
    <if test="remark != null">
      and remark = #{remark,jdbcType=VARCHAR},
    </if>
    and  robContext is not null
  </select>

  <select id="selectObjectSelective" parameterType="com.sy.huangniao.pojo.RobOrder" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from rob_order
    where 1=1
    <if test="userId != null">
      and user_id = #{userId,jdbcType=INTEGER},
    </if>
    <if test="orderId != null">
      and order_id = #{orderId,jdbcType=INTEGER},
    </if>
    <if test="robStatus != null">
      and  rob_status = #{robStatus,jdbcType=VARCHAR},
    </if>
    <if test="proofImage != null">
      and  proof_image = #{proofImage,jdbcType=VARCHAR},
    </if>
    <if test="createDate != null">
      and  create_date = #{createDate,jdbcType=TIMESTAMP},
    </if>
    <if test="remark != null">
      and remark = #{remark,jdbcType=VARCHAR},
    </if>
  </select>

  <update id="updateByOrderId" parameterType="com.sy.huangniao.pojo.RobOrder">
    update rob_order
    <set>
      <if test="robStatus != null">
        rob_status = #{robStatus,jdbcType=VARCHAR},
      </if>
      <if test="proofImage != null">
        proof_image = #{proofImage,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <cache />
</mapper>