<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sy.huangniao.mapper.TicketSiteMapper">
  <resultMap id="BaseResultMap" type="com.sy.huangniao.pojo.TicketSite">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="site_zw" jdbcType="VARCHAR" property="siteZw" />
    <result column="site_dh" jdbcType="VARCHAR" property="siteDh" />
    <result column="site_py" jdbcType="VARCHAR" property="sitePy" />
    <result column="site_jx" jdbcType="VARCHAR" property="siteJx" />
    <result column="site_createDate" jdbcType="TIMESTAMP" property="siteCreatedate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, site_zw, site_dh, site_py, site_jx, site_createDate, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ticket_site
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ticket_site
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.sy.huangniao.pojo.TicketSite" useGeneratedKeys="true">
    insert into ticket_site (site_zw, site_dh, site_py, 
      site_jx, site_createDate, remark
      )
    values (#{siteZw,jdbcType=VARCHAR}, #{siteDh,jdbcType=VARCHAR}, #{sitePy,jdbcType=VARCHAR}, 
      #{siteJx,jdbcType=VARCHAR}, #{siteCreatedate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.sy.huangniao.pojo.TicketSite" useGeneratedKeys="true">
    insert into ticket_site
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="siteZw != null">
        site_zw,
      </if>
      <if test="siteDh != null">
        site_dh,
      </if>
      <if test="sitePy != null">
        site_py,
      </if>
      <if test="siteJx != null">
        site_jx,
      </if>
      <if test="siteCreatedate != null">
        site_createDate,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="siteZw != null">
        #{siteZw,jdbcType=VARCHAR},
      </if>
      <if test="siteDh != null">
        #{siteDh,jdbcType=VARCHAR},
      </if>
      <if test="sitePy != null">
        #{sitePy,jdbcType=VARCHAR},
      </if>
      <if test="siteJx != null">
        #{siteJx,jdbcType=VARCHAR},
      </if>
      <if test="siteCreatedate != null">
        #{siteCreatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sy.huangniao.pojo.TicketSite">
    update ticket_site
    <set>
      <if test="siteZw != null">
        site_zw = #{siteZw,jdbcType=VARCHAR},
      </if>
      <if test="siteDh != null">
        site_dh = #{siteDh,jdbcType=VARCHAR},
      </if>
      <if test="sitePy != null">
        site_py = #{sitePy,jdbcType=VARCHAR},
      </if>
      <if test="siteJx != null">
        site_jx = #{siteJx,jdbcType=VARCHAR},
      </if>
      <if test="siteCreatedate != null">
        site_createDate = #{siteCreatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sy.huangniao.pojo.TicketSite">
    update ticket_site
    set site_zw = #{siteZw,jdbcType=VARCHAR},
      site_dh = #{siteDh,jdbcType=VARCHAR},
      site_py = #{sitePy,jdbcType=VARCHAR},
      site_jx = #{siteJx,jdbcType=VARCHAR},
      site_createDate = #{siteCreatedate,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectList" parameterType="com.sy.huangniao.pojo.TicketSite" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ticket_site
    where 1=1
    <if test="siteZw != null">
      and  site_zw = #{siteZw,jdbcType=VARCHAR}
    </if>
    <if test="siteDh != null">
      and site_dh = #{siteDh,jdbcType=VARCHAR}
    </if>
    <if test="sitePy != null">
      and site_py = #{sitePy,jdbcType=VARCHAR}
    </if>
    <if test="siteJx != null">
      and site_jx = #{siteJx,jdbcType=VARCHAR}
    </if>
    <if test="siteCreatedate != null">
      and site_createDate = #{siteCreatedate,jdbcType=TIMESTAMP}
    </if>
    <if test="remark != null">
      and remark = #{remark,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>