<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sy.huangniao.mapper.UserWxinfoMapper">
  <resultMap id="BaseResultMap" type="com.sy.huangniao.pojo.UserWxinfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="nickName" jdbcType="VARCHAR" property="nickname" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="session_key" jdbcType="VARCHAR" property="sessionKey" />
    <result column="unionid" jdbcType="VARCHAR" property="unionid" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="phoneNumber" jdbcType="VARCHAR" property="phonenumber" />
    <result column="countryCode" jdbcType="VARCHAR" property="countrycode" />
    <result column="purePhoneNumber" jdbcType="VARCHAR" property="purephonenumber" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="language" jdbcType="VARCHAR" property="language" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, nickName, openid, session_key, unionid, gender, phoneNumber, countryCode, 
    purePhoneNumber, city, province, country, language, create_date, modify_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_wxinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_wxinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.sy.huangniao.pojo.UserWxinfo" useGeneratedKeys="true">
    insert into user_wxinfo (user_id, nickName, openid, 
      session_key, unionid, gender, 
      phoneNumber, countryCode, purePhoneNumber, 
      city, province, country, 
      language, create_date, modify_date
      )
    values (#{userId,jdbcType=INTEGER}, #{nickname,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, 
      #{sessionKey,jdbcType=VARCHAR}, #{unionid,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, 
      #{phonenumber,jdbcType=VARCHAR}, #{countrycode,jdbcType=VARCHAR}, #{purephonenumber,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, 
      #{language,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.sy.huangniao.pojo.UserWxinfo" useGeneratedKeys="true">
    insert into user_wxinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="nickname != null">
        nickName,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="sessionKey != null">
        session_key,
      </if>
      <if test="unionid != null">
        unionid,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="phonenumber != null">
        phoneNumber,
      </if>
      <if test="countrycode != null">
        countryCode,
      </if>
      <if test="purephonenumber != null">
        purePhoneNumber,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="language != null">
        language,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="sessionKey != null">
        #{sessionKey,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null">
        #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="phonenumber != null">
        #{phonenumber,jdbcType=VARCHAR},
      </if>
      <if test="countrycode != null">
        #{countrycode,jdbcType=VARCHAR},
      </if>
      <if test="purephonenumber != null">
        #{purephonenumber,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sy.huangniao.pojo.UserWxinfo">
    update user_wxinfo
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="nickname != null">
        nickName = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="sessionKey != null">
        session_key = #{sessionKey,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null">
        unionid = #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="phonenumber != null">
        phoneNumber = #{phonenumber,jdbcType=VARCHAR},
      </if>
      <if test="countrycode != null">
        countryCode = #{countrycode,jdbcType=VARCHAR},
      </if>
      <if test="purephonenumber != null">
        purePhoneNumber = #{purephonenumber,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        language = #{language,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sy.huangniao.pojo.UserWxinfo">
    update user_wxinfo
    set user_id = #{userId,jdbcType=INTEGER},
      nickName = #{nickname,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      session_key = #{sessionKey,jdbcType=VARCHAR},
      unionid = #{unionid,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      phoneNumber = #{phonenumber,jdbcType=VARCHAR},
      countryCode = #{countrycode,jdbcType=VARCHAR},
      purePhoneNumber = #{purephonenumber,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      language = #{language,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <cache />
</mapper>