<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sy.huangniao.mapper.UserLinkmanMapper">
  <resultMap id="BaseResultMap" type="com.sy.huangniao.pojo.UserLinkman">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="indentity" jdbcType="VARCHAR" property="indentity" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="app_code" jdbcType="VARCHAR" property="appCode" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="modify_date" jdbcType="DATE" property="modifyDate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, indentity, name, create_date, app_code, status, modify_date, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_linkman
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_linkman
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.sy.huangniao.pojo.UserLinkman" useGeneratedKeys="true">
    insert into user_linkman (user_id, indentity, name, 
      create_date, app_code, status, 
      modify_date, remark)
    values (#{userId,jdbcType=INTEGER}, #{indentity,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=DATE}, #{appCode,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{modifyDate,jdbcType=DATE}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.sy.huangniao.pojo.UserLinkman" useGeneratedKeys="true">
    insert into user_linkman
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="indentity != null">
        indentity,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="appCode != null">
        app_code,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="indentity != null">
        #{indentity,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=DATE},
      </if>
      <if test="appCode != null">
        #{appCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=DATE},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sy.huangniao.pojo.UserLinkman">
    update user_linkman
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="indentity != null">
        indentity = #{indentity,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=DATE},
      </if>
      <if test="appCode != null">
        app_code = #{appCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=DATE},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sy.huangniao.pojo.UserLinkman">
    update user_linkman
    set user_id = #{userId,jdbcType=INTEGER},
      indentity = #{indentity,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=DATE},
      app_code = #{appCode,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      modify_date = #{modifyDate,jdbcType=DATE},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectList" parameterType="com.sy.huangniao.pojo.UserLinkman" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_linkman
    where 1=1
    <if test="userId != null">
     and  user_id = #{userId,jdbcType=INTEGER}
    </if>
    <if test="indentity != null">
     and  indentity = #{indentity,jdbcType=VARCHAR}
    </if>
    <if test="name != null">
      and  name = #{name,jdbcType=VARCHAR}
    </if>
    <if test="createDate != null">
     and  create_date = #{createDate,jdbcType=DATE}
    </if>
    <if test="appCode != null">
     and app_code = #{appCode,jdbcType=VARCHAR}
    </if>
    <if test="status != null">
     and  status = #{status,jdbcType=VARCHAR}
    </if>
    <if test="modifyDate != null">
     and  modify_date = #{modifyDate,jdbcType=DATE}
    </if>
  </select>
  <cache />
</mapper>